/* ################################### 
Proyecto: Tarea de Evaluación 1 y 2.
Desarrollador: Luis F. Mujica
Fecha: Mayo 2025
Fecha Act.: 13-Junio-2025 
Nombre del código: tab-inicial.page.scss
Versión: 1.0.0 (Tarea de Evaluación 1)
Versión Act.: 1.1.0 (Tarea de Evaluación 2)
Descripción: Aplicación del diseño al html de los TABS.
#####################################
*/

.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
